body{
    background-color:#000000;
    margin:0px;

}


.Intro{
    color:rgb(20,170,255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding:20px;
    margin:2px;
    border:4px solid #d6df63;
    border-radius:20px;
}


.First {
    color: #22FF99;  
    font-size:20px;
    padding:20px;
    margin-top:0px;
    border:4px solid #d6df63;
    border-radius:20px; 
    height:200px;
    width:200px;
}
.First img{
    opacity:0.10;

}
.First:hover img{
    opacity:1;
}


.Second{
    color:#22FF99;
    font-size:20px; 
    padding:20px;
    margin-left:460px;
    border:4px solid #d6df63;
    border-radius:20px;
    height:200px;
    width:200px

}
.Second img{
    opacity:0.10;
}
.Second:hover img{
    opacity:1;
}


.Third{
    color:#22FF99;  
    font-size:20px; 
    padding:20px;
    margin:2px;
    border:4px solid #d6df63;
    border-radius:20px;
    height:200px;
    width:200px;
}
.Third img{
    opacity:0.10;
}
.Third:hover img{
    opacity:1;
}


.Four {
    color:#22FF99;
    font-size:20px;
    padding:20px;
    margin-left:460px;
    border:4px solid #d6df63;
    border-radius:20px;
    height:200px;
    width:200px; 
}
.Four img{
    opacity:0.10;
}
.Four:hover img{
    opacity:1;
}


.Five{
    color:#22FF99;  
    font-size:20px; 
    padding:20px;
    margin:2px;
    border:4px solid #d6df63;
    border-radius:20px;
    height:200px;
    width:200px;
}
.Five img{
    opacity:0.10;
}
.Five:hover img{
    opacity:1;
}


.Six{
    color:#22FF99;
    font-size:20px;
    padding:20px;
    margin-left:460px;
    border:4px solid #d6df63;
    border-radius:20px;
    height:200px;
    width:200px; 
}
.Six img{
    opacity:0.10;
}
.Six:hover img{
    opacity:1;

}


h4{
    color:#2380FF;
    opacity:0.33;
}

h4:hover{
    
    opacity:1;
    
}
a:visited{
    color:#d6df63;
}

